
.chat-top,
.chat-middle,
.chat-bottom {
  margin: 0;
  padding: 0;
}

.chat-top,

.chat-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.chat-top {
  height: 75px;
}

.chat-bottom {
  height: 65px;
}

.chat-middle {
  height: calc(100% - 75px - 65px);
}

.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
  text-decoration: none;
}

.text-blue{
  color: white;
}